@use "../../abstracts" as *;

.authform-modal-container {
  @include flexCenter(column);
  border: 3px solid black;
  position: absolute;
  top: -15%;
  z-index: 4;
  border-radius: 2rem;
  background-color: red;
  padding: 0.5rem 1rem;
  height: 6rem;

  opacity: 0;
  display: none;

  transition: opacity 0.3s;

  p {
    align-self: center;
    color: white;
    word-break: break-all;
  }

  svg {
    align-self: center;
    font-size: 3rem;
    position: absolute;
    top: 85%;
  }
}
